*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}

a{
	color:inherit;
	text-decoration: none;
}

@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	background-color: #FEFAE0;
	font-family: "MaplestoryOTFBold",sans-serif;
}