.wrap{
    width: 1280px;
    margin: auto;
    border: 1px solid black;
}



.main_slide{
    height: 500px;
   transition:left 1s ease-in;
}

footer{
	height: 500px;
}


.imageDiv{
	width: 100px;
	height: 100px;
	overflow:hidden;
	margin: 0 auto;
}

.imageDiv img{
	width:100%;
    height:100%;
    object-fit:cover;
}

.post_list{
	display: flex;
	flex-direction: row;
}

.post_list> div{
	width: 200px;
	margin: 10px;
}


.homeImageDiv{
	position: relative;
	width: 1278px;
	height: 100%;
	transition: 2s;
}

.homeImage{
	width: 1278px;
	
	
}


