.wrap{
    width: 1280px;
    margin: auto;
    border: 1px solid black;
}



.main_slide{
    background-color: aqua;
    height: 500px;
}

footer{
	 height: 500px;
}


.imageDiv{
	width: 100px;
	height: 100px;
	overflow:hidden;
}

.imageDiv img{
	width:100%;
    height:100%;
    object-fit:cover;
}