<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/board.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
    <link rel="stylesheet" th:href="@{/common.css}">
    <title>Document</title>
</head>
<body>
    
    <div class="wrap">

        <div th:replace="~{header :: header}">
        </div>
   		
   		<main>
				<div style="display: flex; justify-content: center;">
					<form method="get" action="/board">
					<input type="text" name="keyword" placeholder="검색어를 입력하세요" style="width: 559px; height: 60px;"/>
					<input type="submit" value="검색" style="width: 82px; height: 60px;"/>
					</form>
				</div>   
				<div class="boards" style="height: 1000px;">
					<div th:each="board : ${boards}" style="border: 1px solid black; border-radius: 10px; height: 100px; margin-top:13px; position: relative;">
						<a th:href="@{/board/view(id = ${board.id} )}">
						<div class="board">
							<div th:text="${board.boardName}"> </div>
						</div>
						</a>
						<div style="position: absolute; right: 0; top: 0;display: flex;">
							<div th:onclick="clickModify([[${board.id}]]);">수정</div>
							<div th:onclick="clickDelete([[${board.id}]]);">삭제</div>
						</div>
					</div>
				</div>
				<div style="display: flex; justify-content: center;">
					<form th:method="post" th:action="@{/board}">
					<input type="text" placeholder="게시판 이름" name="boardName" style="width: 663px; height: 60px;"/>
					<input type="submit" value="생성" style="width: 143px; height: 60px;"/>
					</form>
				</div>
		</main>
		
		<div th:replace="~{footer :: footer}">
		</div>
        

    </div>
    <div  id="modal">
		<div>
		<form  th:method="post" th:action="@{/board/modify.do}" >
			<input type="text" name="boardName" placeholder="변경할 제목을 입력하세요." />
			<input type="hidden" name="boardId" id="boardIdInput"/>
			<input type="submit" id="modify"  value="수정"/>
			<input type="button" id="cancel"  value="취소"/>
		</form>
		</div>
		
	</div>
     <script th:inline="javascript">
		/*<![CDATA[*/
			const modifyBtn = document.getElementById('modify');
			const cancelBtn = document.getElementById('cancel');
			const boardIdInput = document.getElementById('boardIdInput');
			const modal= document.getElementById('modal');
			
			
			function clickModify(boardId){
				modal.style.visibility="visible";
				boardIdInput.value=boardId;
			}
			
			function clickDelete(boardId){
				const form = document.createElement('form');
				form.setAttribute('method','post');
				form.setAttribute('action','/board/delete.do');
				
				const data1 = document.createElement('input');
				data1.setAttribute('type','hidden');
				data1.setAttribute('name','boardId');
				data1.setAttribute('value',boardId);
				
				form.appendChild(data1);
				
				document.body.appendChild(form);
				form.submit();
			}
			
			cancelBtn.addEventListener('click',function(){
				modal.style.visibility="hidden";
			});
			
			
		
		/*]]>*/
	</script>
</body>
</html>