<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/home.css}">
    <link rel="stylesheet" th:href="@{/header.css}">
    <link rel="stylesheet" th:href="@{/footer.css}">
    <link rel="stylesheet" th:href="@{/common.css}">
    <title>Title</title>
</head>
<body>
    <div class="wrap">
        <div th:replace="~{header :: header}">
        </div>
        
        <div class="main_slide" style="display: flex; width: 1278px; overflow: hidden; height: 100%;">
            
					<div class="homeImageDiv">
						<img class="homeImage" th:src="@{http://localhost:8080/images/karaoke.png}"/>
					</div>
					
					<div class="homeImageDiv">
						<img class="homeImage" th:src="@{http://localhost:8080/images/hiking.png}"/>
					</div>
           
        </div>

        <h4>최근 게시글</h4>
        <div class="post_list">
			<div th:each="post : ${posts}">
				<a th:href="@{/post/view?id=}+${post.id}">
				<div class="imageDiv">
					<img th:src="@{http://localhost:8080}+${post.imagePath}" />
				</div>
				<div>
					<div th:text="${post.title}">
						
					</div>
					<div th:text="${post.content}">
						
					</div>
				</div>
				</a>
			</div>
		</div>

        <footer th:replace="~{footer :: footer}">
            	dsfds
        </footer>
    </div>
   <script th:inline="javascript">
		/*<![CDATA[*/
		const imageDiv = document.getElementsByClassName('homeImageDiv');
		let count = 0;
		
		setInterval(slide,5000);
		
		
		function slide(){
			
			count++;
			if(count==2){
				for(let i=0; i<imageDiv.length;i++){
				imageDiv[i].style.left=0+"px";
			}
			count=0;
			}
			else{
				for(let i=0; i<imageDiv.length;i++){
				imageDiv[i].style.left="-"+1278+"px";
			}
			}
			
			
		}
		
		
		
		
		
		/*]]>*/
	</script>
    
</body>
</html>